@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/nord.min.css";

html,
body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 > a {
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    color: black;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.post-list {
  display: grid;
  gap: 16px;

  .post-card {
    & > a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      h2 {
        font-size: 16px;
      }

      p {
        line-height: 1.5;
      }
    }
  }
}

.root {
  max-width: 600px;
  margin-inline: auto;
  padding: 20px;
  display: grid;
  gap: 16px;

  main {
    display: grid;
    gap: 8px;

    h1 {
      font-size: 20px;
    }

    p {
      line-height: 1.5;
    }

    pre > code {
      border-radius: 8px;
    }

    ul {
      padding-left: 1.2em;

      li {
        &::marker {
          color: #637a9f;
        }
      }
    }
  }
}
