html,
body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1>a {
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    color: black;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.post-list {
  display: grid;
  gap: 16px;

  .post-card {
    &>a {
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      .post-title {
        background: #ececec;
        display: inline-block;
        font-size: 14px;
        padding: 2px 6px;
        border-radius: 4px;
      }

      p {
        line-height: 1.5;
      }
    }
  }
}

.root {
  max-width: 600px;
  margin-inline: auto;
  padding: 20px;
  display: grid;
  gap: 16px;

  main {
    display: grid;
    gap: 20px;

    h1 {
      font-size: 20px;
    }

    p {
      line-height: 1.5;
    }

    pre>code {
      border-radius: 8px;
      font-size: 14px;
      font-family: "JetBrains Mono";
    }

    ul {
      padding-left: 1.2em;

      li {
        &::marker {
          color: #637a9f;
        }
      }
    }

    img {
      max-width: 100%;
      margin: 16px 0;
    }
  }
}

.meta {
  max-width: 100%;
  width: 100%;
}

.update-checker {
  .warning {
    margin-bottom: 16px;
    padding: 8px;
    font-size: 14px;
    background: #fff6e4;
    color: #333333;
    border-radius: 4px;
  }
}

.activity {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;

  .day {
    background: #ebedf0;
    border: 1px solid rgba(27, 31, 35, 0.06);
    border-radius: 2px;
    width: 100%;
    aspect-ratio: 1 / 1;

    &.empty {
      background: white;
      border: none;
    }

    &.active {
      background: #40c463;
      border: 1px solid rgba(27, 31, 35, 0.06);
    }
  }


  @media screen and (max-width: 780px) {
    grid-auto-columns: 12px;
    max-width: 100%;
    width: 100%;
    width: calc(100dvw - 40px);
    overflow-x: scroll;
  }
}